@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: 'Manrope', sans-serif;
    background-image: url(./images/pattern-circles.svg), url(./images/bg-pattern.svg);
    background-position:50% 50px, 0px 0px  ;
    background-repeat: no-repeat, no-repeat;
    background-color: #eaeefb;
    text-align: center;
}   

#title h1{
    color:#293356;
    font-size: 28px;
    margin-top: 100px;
}

#title p{
    color:#858fad ;
    font-size: 15px;
    margin-top: 10px;
}

#box{
    height: 400px;
    width: 490px;
    margin: 50px auto;
    border-radius:10px ;
    background-color: #ffffff;
    padding: 30px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#payMonth{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

#payMonth p{
    font-size: 15px;
    font-weight: 800;
    color:#858fad;
    letter-spacing: 2px;
}
#payMonth div {
    display: flex;
    align-items: center;
    gap: 5px;
}

h2{
    font-size: 40px;
    font-weight: 800;
    color: #293356;
}

small{
    font-size: 15px;
    color: #858fad;
}

input[type = "range"]{
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    background: linear-gradient(90deg, rgb(16, 213, 194) 50%, rgb(234, 238, 251) 50% );
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

input[type = "range"]:hover{
    opacity: 1;
}

input[type = "range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: 1px 10px 15px 5px #a5f3eb ;
    background-color:  #10d5c2;
    background-image: url(./images/icon-slider.svg);
    background-repeat: no-repeat;
    background-position: center;
}

#dataBilling{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    margin-top: 20px;
}

.payOff{
    background-color: #feece7 ;
    color: #ff8c66;
    border-radius: 10px;
    font-size: 13px;
    font-weight: 800;
    padding: 2px 5px;

}

label{
    color:#858fad;
    font-size: 13px;
}

#footer{
    border-top: 1px solid #eaeefb ;
    box-sizing: inherit;
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

li{
    list-style-type:none;
    list-style-image: url(./images/icon-check.svg);
    font-size: 12px;
    color: #858fad;
    text-align: start;
    list-style-position: inside ;
    margin: 5px 10px ;
}

button{
    background-color: #293356;
    color: #b0bde4;
    font-weight: 800;
    padding: 9px 35px;
    border-radius:30px ;
    font-size: 12px;
}